.home {
  /* max-height: 1000px; */
  margin: auto;
  padding: 0px;
  background-color: #bebdb7;
}

.home_image {
  width: 100%;
  /* height: 15%; */
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

home_row {
  width: 100%;
  margin: auto;
}

.product {
  background-color: #fff;
  margin: 5px;
}
